<odoo>
    <record model="ir.actions.act_window" id="action_menu_courses">
        <field name="name">Courses</field>
        <field name="res_model">open_academy.course</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_courses"  name="Courses"  action="action_menu_courses"/>
</odoo>